<ion-header>
  <ion-toolbar>
    <ion-select placeholder="Select Workout" #workouts interface="popover" (ionChange)="this.loadWorkout($event)"
      disabled="{{this.engine.state !== 'end' && this.engine.state !== 'stop'}}">
      <ion-select-option *ngFor="let item of this.workoutsArray; let i = index" value="{{i}}">{{item.name}}
      </ion-select-option>
    </ion-select>

    <ion-button #syncButton slot="primary" (click)="this.sync()"
      disabled="{{this.engine.state !== 'end' && this.engine.state !== 'stop'}}">
      <ion-spinner *ngIf="isSyncing" name="lines-small"></ion-spinner>
      <ion-icon *ngIf="!isSyncing" slot="icon-only" name="sync">
      </ion-icon>
    </ion-button>
    <ion-button slot="primary" (click)="this.toggleDarkMode()">
      <ion-icon slot="icon-only" [name]="this.isDarkMode() ? 'sunny' : 'moon'">
      </ion-icon>
    </ion-button>    
  </ion-toolbar>
</ion-header>

<svg *ngIf="['start','pause'].includes(this.engine.state)" id="progress-circle" width="100vw" height="64vh"
  viewBox="0 0 100 100">
  <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
    <stop offset="0%" stop-color="#ddd6f3"></stop>
    <stop offset="100%" stop-color="#faaca8"></stop>
  </linearGradient>
  <circle cx="50%" cy="50%" stroke-width="12" [attr.r]="(this.engine.circleR + this.engine.segmentCircleR) / 2"
  [ngClass]="this.circleColor" />
  <circle cx="50%" cy="50%" class="timer-circle-general" stroke-width="6" [attr.r]="this.engine.circleR" fill="none"
    stroke-linecap="round" [attr.stroke-dasharray]="this.engine.circleDasharray"
    [attr.stroke-dashoffset]="this.engine.percentageOffset(this.engine.percentage | async, this.engine.circleDasharray)"
    transform-origin="50% 50%" transform='rotate(-90)' />

  <linearGradient id="linearColors2" x1="0" y1="0" x2="1" y2="1">
    <stop offset="0%" stop-color="#f3ddd6"></stop>
    <stop offset="100%" stop-color="#a8faac"></stop>
  </linearGradient>

  <circle cx="50%" cy="50%" class="timer-circle-segment" stroke-width="6" [attr.r]="this.engine.segmentCircleR"
    fill="none" transform-origin="50% 50%" transform='rotate(-90)' stroke-linecap="round"
    [attr.stroke-dasharray]="this.engine.segmentCircleDasharray"
    [attr.stroke-dashoffset]="this.engine.percentageOffset(this.engine.segmentPercentage | async, this.engine.segmentCircleDasharray)" />

  <text x="3%" y="9%" class="timer-subtext">{{ this.engine.currentSegment }} / {{this.engine.segments.length - 1}}</text>
  <text x="77%" y="9%" class="timer-subtext">{{this.engine.sToMMSS(this.engine.duration - 3)}}</text>

  <text x="40%" y="30%" class="timer-subtext">{{ this.engine.time | async}}</text>
  <text x="50%" y="50%" class="timer-text">{{ this.engine.segmentTime | async  }}</text>
  <text x="50%" y="68%" class="timer-text">{{ this.engine.current().speed | number:'1.1-1'}}</text>
  <text x="44%" y="78%" class="timer-subtext">{{ this.engine.next().speed | number:'1.1-1'}}</text>
  <text x="77%" y="98%" class="timer-subtext">{{ this.time }}</text>
</svg>
<canvas #chart [hidden]="this.engine.segments.length <= 0 || ['start','pause'].includes(this.engine.state)"></canvas>
<ion-item [hidden]="this.engine.segments.length <= 0 || ['start','pause'].includes(this.engine.state)">
  <ion-label>
    <ion-icon name="stats"></ion-icon> {{this.engine.segments.length - 1}} - <ion-icon name="stopwatch"></ion-icon>
    {{this.engine.sToMMSS(this.engine.duration - 3)}}
  </ion-label>
</ion-item>
<ion-content>
  <ion-virtual-scroll #scroll [items]="this.engine.segments" scrollY="true">
    <ion-item *virtualItem="let segment;"
      color="{{segment.completed === true ? 'success' : (segment.completed === false ? 'primary' : '')}}" class="segment">
      <ion-label>
        {{this.engine.sToMMSS(segment.time)}}
      </ion-label>
      <ion-label>
        <h1>{{segment.speed | number:'1.1-1'}} mph</h1>
      </ion-label>
      <ion-icon slot="end" name="{{paceName[segment.pace]}}"></ion-icon>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title *ngIf="this.engine.state !== 'stop' && this.engine.state !== 'end' && this.engine.next().time > 0">
      <ion-icon name="{{paceName[this.engine.current().pace]}}"></ion-icon>
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-icon name="{{paceName[this.engine.next().pace]}}"></ion-icon>

    </ion-title>
    <ion-button disabled #startButton size="large" slot="primary" expand="block" color="primary"
      (click)="this.engine.toggleTimer()">
      <ion-icon slot="icon-only"
        name="{{this.engine.state === 'pause' || this.engine.state === 'end' || this.engine.state === 'stop'? 'play' : 'pause'}}">
      </ion-icon>
    </ion-button>
    <ion-button size="large" slot="secondary" expand="block" color="primary" (click)="this.stopTimer()"
      *ngIf="this.engine.state !== 'stop' && this.engine.state !== 'end'">
      <ion-icon slot="icon-only" name="square"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>