<ion-header>
  <ion-toolbar>
    <ion-title>{{this.worOut.name}}</ion-title>
    <ion-button slot="primary">
      <ion-icon slot="icon-only" name="folder-open">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col text-center>
      <svg id="progress-circle" width="40vh" height="40vh" viewBox="0 0 200 200">
        <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#ddd6f3"></stop>
          <stop offset="100%" stop-color="#faaca8"></stop>
        </linearGradient>
        <linearGradient id="linearColors2" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#f3ddd6"></stop>
          <stop offset="100%" stop-color="#a8faac"></stop>
        </linearGradient>
        <circle cx="50%" cy="50%" [attr.r]="this.engine.circleR" fill="none" stroke="#f3f3f3" stroke-width="12" />
        <circle cx="50%" cy="50%" fill="none" transform-origin="50% 50%" transform='rotate(-90)'
          stroke="url(#linearColors1)" stroke-width="12" stroke-linecap="round" [attr.r]="this.engine.circleR"
          [attr.stroke-dasharray]="this.engine.circleDasharray"
          [attr.stroke-dashoffset]="this.engine.percentageOffset(this.engine.percentage | async, this.engine.circleDasharray)" />

        <circle cx="50%" cy="50%" [attr.r]="this.engine.segmentCircleR" fill="none" stroke="#f3f3f3"
          stroke-width="12" />
        <circle cx="50%" cy="50%" fill="none" transform-origin="50% 50%" transform='rotate(-90)'
          stroke="url(#linearColors2)" stroke-width="12" stroke-linecap="round" [attr.r]="this.engine.segmentCircleR"
          [attr.stroke-dasharray]="this.engine.segmentCircleDasharray"
          [attr.stroke-dashoffset]="this.engine.percentageOffset(this.engine.segmentPercentage | async, this.engine.segmentCircleDasharray)" />
        <text x="40%" y="30%">{{ this.engine.time | async}}</text>
        <text x="50%" y="50%" class="timer-text">{{ this.engine.segmentTime | async }}</text>
        <text x="50%" y="68%"
          class="timer-text">{{ this.engine.stride.values[this.engine.current().pace] | number:'1.1-1'}}</text>
        <text x="44%" y="78%">{{ this.engine.stride.values[this.engine.next().pace] | number:'1.1-1'}}</text>
      </svg>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <ion-virtual-scroll #scroll [items]="this.engine.segments" scrollY="true">
    <ion-item *virtualItem="let segment;"
      color="{{segment.completed === true ? 'success' : (segment.completed === false ? 'primary' : '')}}">
      <ion-label>
        {{this.engine.sToMMSS(segment.time)}}
      </ion-label>
      <ion-label class="speed-text">
        {{this.engine.stride.values[segment.pace] | number:'1.1-1'}}
      </ion-label>
      <ion-icon slot="end" name="{{paceName[segment.pace]}}"></ion-icon>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title *ngIf="this.engine.state !== 'stop' && this.engine.state !== 'end' && this.engine.next().time > 0">
      <ion-icon name="{{paceName[this.engine.current().pace]}}"></ion-icon>
      <ion-icon name="arrow-forward"></ion-icon>
      <ion-icon name="{{paceName[this.engine.next().pace]}}"></ion-icon>

    </ion-title>
    <ion-button size="large" slot="primary" expand="block" color="primary" (click)="this.engine.toggleTimer()">
      <ion-icon slot="icon-only" 
        name="{{this.engine.state === 'pause' || this.engine.state === 'end' || this.engine.state === 'stop'? 'play' : 'pause'}}">
      </ion-icon>
    </ion-button>
    <ion-button size="large" slot="secondary" expand="block" color="primary" (click)="this.engine.stopTimer()"
      *ngIf="this.engine.state !== 'stop' && this.engine.state !== 'end'">
      <ion-icon slot="icon-only" name="square"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>