
.timer-text {
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
}

.timer-text-red {
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    fill: red;
}

.speed-text {
    text-anchor: middle;
    font-weight: 600;
    fill: #333;
}